@import "tailwindcss";

html {
  height: 100%;
  box-sizing: border-box;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;     
}